*{
    margin: 10;
    padding: 20;
    box-sizing: border-box;
    
   
}
.container {
    max-width: 1200px;
    margin: auto;
}
.product-items{
    display:flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 12px;
}
.product-item{
    width: 19%;
    background-color: aliceblue;
    padding: 12px;
    text-align: center;
}
.product-item img {
    width: 100%;
    margin-bottom: 20px;

}
.product-item-text{
   display: flex; 
   justify-content: space-between;
   
}
.product-item button{
    margin-top: 12px;
    height: 30px;
    padding: 0 12px;
    cursor: pointer; /*trỏ chuột hinh ban tay*/
    border-color: aquamarine ;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.product-item button:hover{
    background-color: red;
}
/*các thẻ trong giỏ*/
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    

}
.cart{
    margin-bottom: 20px;
   
} 
.cart table {
    width: 100%;
}
.cart table thead tr th:first-child {
    text-align: left;
}
.cart table tr td {
    border-bottom: 1px solid cornsilk;
    padding: 12px 0;
}
.cart table thead tr th:last-child {
    text-align: right;
}
.cart table tbody tr td:last-child {
    text-align: right;
}
/*gio hang ben trai*/
.cart button {
    margin-top: 12px;
    height: 30px;
    padding: 0 12px;
    cursor: pointer; /*trỏ chuột*/
    border: none;
    border-radius: 5px;
    background-color: tomato;
}
.cart {
    position: fixed;
    height: 90vh;
    width: 400px;
    right: 0;
    top: 1em;
    background-color: rgb(20, 216, 99);
    padding: 12 px 20 px;
    overflow: scroll;
    right: 100;
    transition: all 0.3s ease;
}
.cart-icon i{
    cursor: pointer;
    text-shadow: 2px 1px 1px rgb(59, 45, 214); /* đổ bóng cho hình*/
    font-size: 2.0em;
}
.cart i {
    /* display: flex; */
    
    cursor: pointer;
    margin-bottom: 30px; 
    text-shadow: 1px 1px 1px rgb(16, 14, 14);
    font-size: 1.8em;
}